body {
    margin: 0;
    background-color: #e0e0e0;
}

.header {
    background-color: #000000;
    width: 1249px;
    height: 89px;
}

.site-menu {
    text-align: center;
}

.site-menu > a {
    display: inline-block;
    padding: 42px 25px 30px;
    font-size: 14px;
    color: #e0e0e0;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.site-menu > a:hover {
    background-color: #ff3f40;
}

.intro {
    background-color: #e0e0e0;
    width: 1249px;
    padding: 108px 0 123px;
}

.intro-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: 68px;
}

.intro-wrapper > h1 {
    margin: 0;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 35px;
}

.intro-text {
    margin-bottom: 58px;
    opacity: 0.7;
}

.contact-link {
    color: #ffffff;
    background-color: #ff3f40;
    display: inline-block;
    width: 227px;
    text-align: center;
    text-decoration: none;
    padding: 22px 0;
}

.intro-image {
    width: 551px;
    height: 356px;
}